.snack {
    width: 184px;
    height: 328px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);

    &__img {
        background-image:url('../images/popcorn.jpeg');
        background-size: cover;
        background-position: center;
        width: 184px;
        height: 183px;
        padding: 12px;
        border-radius: 5px 5px 0  0;
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        color: white;
    }
    
    &__icons {
        display: flex;
        flex-direction: column;
    }
    
    &__description {
        margin: 12px;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 600;
        color: rgba(68, 68, 68, 1);
        height: 48px;
    }
    
    &__price {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-align: center;
        color: rgba(68, 68, 68, 1);
        margin-bottom: 10px;
    }
    
    &__btn {
        width: 160px;
        height: 32px;
        border-radius: 5px;
        border: none;
        background: rgba(24, 197, 118, 1);
        color: rgba(254, 254, 254, 1);
        font-size: 12px;
        font-weight: 700;
        margin-left: 12px;
        cursor: pointer;
    }
    
    &__category {
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        border-radius: 50px;
        text-align: center;
    }
}


.snack-popcorn__category {
    background: rgba(255, 167, 38, 1);
    width: 83px;
    height: 23px;
}

.snack-eskimo__category {
    background: rgba(172, 89, 241, 1);
    width: 44px;
    height: 23px;
}

.snack-popcorn__discount {
    background: rgba(24, 197, 118, 1);
    width: 56px;
    height: 23px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 3px;
}