.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 387px;
    height: 154px;
    border-radius: 5px;
    padding: 12px;
    background: green;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.food__header {
    display: flex;
    justify-content: space-between;
}

.food__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.food__btn {
    width: 142px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background: rgba(24, 197, 118, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.food__icons {
    display: flex;
    flex-direction: column;
}

.food__discount {
    font-weight: 700;
    font-size: 12px;
    width: 56px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.food__category {
    font-weight: 600;
    font-size: 12px;
    width: 83px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    background-color: rgba(24, 197, 118, 1);
    border-radius: 50px;

}

.food-gorox {
    height: 328px;
    background-image: url('../images/gorox-bg.jpeg');
    background-size: cover;
    background-position: center;
}

.food-gorox__discount {
    background: rgba(24, 197, 118, 1);  
}

.food-gorox__category {
    background: rgba(255, 91, 198, 1);
}

.food-golubika {
    background-image: url('../images/golubika-bg.jpeg');
    background-size: cover;
    background-position: center;
}

.food-golubika__discount {
    background: rgba(255, 91, 198, 1);
}

.food-golubika__category {
    background: rgba(57, 176, 244, 1);
}

.food-morkov {
    background-image: url('../images/morkov-bg.jpeg');
    background-size: cover;
    background-position: center;
}

.food-morkov__category {
    background: rgba(172, 89, 241, 1);
}

.food-smaller-container {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
